@{
    ViewData["Title"] = "Home Page";
}

@model translator.Models.TranslatorFormViewModel

<head>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<div class="form-content">
    <form asp-action="translate" asp-controller="Home" method="POST">
        <textarea name="amqpText"></textarea>
        <input type="submit" value="Translate">
    </form>
</div>
<div>*************** Data ****************</div>

<div class="dataResult-content">
    @foreach(var message in @ViewBag.dataResult){
        <p>@message</p>
    }
</div>
<button>
<div>*************** Metadata ****************</div>
<div class="metadataResult-content">
    @foreach(var message in @ViewBag.metadataResult){
        <p>@message</p>
    }
</div>
