.form-content {
    display: block;
    width: 150px;
    margin: 0 auto;
}

input{
    margin: 10px;
}

.dataResult-content, .metadataResult-content{    
    display: block;
    width: 450px;
    margin: 0 auto;
}